<div class='bg-white rounded-lg m-6'>

  <div
    class='max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8'
  >
    <h1
      class='text-4xl font-semibold tracking-wider text-indigo-900 mb-8'
    >Reducerile momentului</h1>

    <h2 class='text-2xl tracking-tight text-indigo-700'>Placi Video</h2>

    <div
      class='mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8'
      id='gpu-offers'
    >
      <div class='group relative'>
        <div
          class='w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none'
        >
          <img
            src='https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg'
            alt='Front of men&#039;s Basic Tee in black.'
            class='w-full h-full object-center object-cover lg:w-full lg:h-full'
          />
        </div>
        <div class='mt-4 flex justify-between'>
          <div>
            <h3 class='text-sm text-gray-700'>
              <a href='#'>
                <span aria-hidden='true' class='absolute inset-0'></span>
                Basic Tee
              </a>
            </h3>
            <p class='mt-1 text-sm text-gray-500'>Black</p>
          </div>
          <p class='text-sm font-medium text-gray-900'>$35</p>
        </div>
      </div>

      <!-- More products... -->
    </div>

    <h2 class='text-2xl tracking-tight text-indigo-700'>Procesoare</h2>

    <div
      class='mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8'
      id='cpu-offers'
    >
      <div class='group relative'>
        <div
          class='w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none'
        >
          <img
            src='https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg'
            alt='Front of men&#039;s Basic Tee in black.'
            class='w-full h-full object-center object-cover lg:w-full lg:h-full'
          />
        </div>
        <div class='mt-4 flex justify-between'>
          <div>
            <h3 class='text-sm text-gray-700'>
              <a href='#'>
                <span aria-hidden='true' class='absolute inset-0'></span>
                Basic Tee
              </a>
            </h3>
            <p class='mt-1 text-sm text-gray-500'>Black</p>
          </div>
          <p class='text-sm font-medium text-gray-900'>$35</p>
        </div>
      </div>

      <!-- More products... -->
    </div>

    <h2 class='text-2xl tracking-tight text-indigo-700'>Placi de baza</h2>

    <div
      class='mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8'
      id='mobo-offers'
    >
      <div class='group relative'>
        <div
          class='w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none'
        >
          <img
            src='https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg'
            alt='Front of men&#039;s Basic Tee in black.'
            class='w-full h-full object-center object-cover lg:w-full lg:h-full'
          />
        </div>
        <div class='mt-4 flex justify-between'>
          <div>
            <h3 class='text-sm text-gray-700'>
              <a href='#'>
                <span aria-hidden='true' class='absolute inset-0'></span>
                Basic Tee
              </a>
            </h3>
            <p class='mt-1 text-sm text-gray-500'>Black</p>
          </div>
          <p class='text-sm font-medium text-gray-900'>$35</p>
        </div>
      </div>

      <!-- More products... -->
    </div>

    <h2 class='text-2xl tracking-tight text-indigo-700'>SSD</h2>

    <div
      class='mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8'
      id='ssd-offers'
    >
      <div class='group relative'>
        <div
          class='w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none'
        >
          <img
            src='https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg'
            alt='Front of men&#039;s Basic Tee in black.'
            class='w-full h-full object-center object-cover lg:w-full lg:h-full'
          />
        </div>
        <div class='mt-4 flex justify-between'>
          <div>
            <h3 class='text-sm text-gray-700'>
              <a href='#'>
                <span aria-hidden='true' class='absolute inset-0'></span>
                Basic Tee
              </a>
            </h3>
            <p class='mt-1 text-sm text-gray-500'>Black</p>
          </div>
          <p class='text-sm font-medium text-gray-900'>$35</p>
        </div>
      </div>

      <!-- More products... -->
    </div>

    <h2 class='text-2xl tracking-tight text-indigo-700'>HDD</h2>

    <div
      class='mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8'
      id='hdd-offers'
    >
      <div class='group relative'>
        <div
          class='w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none'
        >
          <img
            src='https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg'
            alt='Front of men&#039;s Basic Tee in black.'
            class='w-full h-full object-center object-cover lg:w-full lg:h-full'
          />
        </div>
        <div class='mt-4 flex justify-between'>
          <div>
            <h3 class='text-sm text-gray-700'>
              <a href='#'>
                <span aria-hidden='true' class='absolute inset-0'></span>
                Basic Tee
              </a>
            </h3>
            <p class='mt-1 text-sm text-gray-500'>Black</p>
          </div>
          <p class='text-sm font-medium text-gray-900'>$35</p>
        </div>
      </div>

      <!-- More products... -->
    </div>

    <h2 class='text-2xl tracking-tight text-indigo-700'>Surse</h2>

    <div
      class='mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8'
      id='psu-offers'
    >
      <div class='group relative'>
        <div
          class='w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none'
        >
          <img
            src='https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg'
            alt='Front of men&#039;s Basic Tee in black.'
            class='w-full h-full object-center object-cover lg:w-full lg:h-full'
          />
        </div>
        <div class='mt-4 flex justify-between'>
          <div>
            <h3 class='text-sm text-gray-700'>
              <a href='#'>
                <span aria-hidden='true' class='absolute inset-0'></span>
                Basic Tee
              </a>
            </h3>
            <p class='mt-1 text-sm text-gray-500'>Black</p>
          </div>
          <p class='text-sm font-medium text-gray-900'>$35</p>
        </div>
      </div>

      <!-- More products... -->
    </div>

    <h2 class='text-2xl tracking-tight text-indigo-700'>Carcase</h2>

    <div
      class='mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8'
      id='case-offers'
    >
      <div class='group relative'>
        <div
          class='w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none'
        >
          <img
            src='https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg'
            alt='Front of men&#039;s Basic Tee in black.'
            class='w-full h-full object-center object-cover lg:w-full lg:h-full'
          />
        </div>
        <div class='mt-4 flex justify-between'>
          <div>
            <h3 class='text-sm text-gray-700'>
              <a href='#'>
                <span aria-hidden='true' class='absolute inset-0'></span>
                Basic Tee
              </a>
            </h3>
            <p class='mt-1 text-sm text-gray-500'>Black</p>
          </div>
          <p class='text-sm font-medium text-gray-900'>$35</p>
        </div>
      </div>

      <!-- More products... -->
    </div>

    <h2 class='text-2xl tracking-tight text-indigo-700'>Coolere</h2>

    <div
      class='mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8'
      id='fan-offers'
    >
      <div class='group relative'>
        <div
          class='w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none'
        >
          <img
            src='https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg'
            alt='Front of men&#039;s Basic Tee in black.'
            class='w-full h-full object-center object-cover lg:w-full lg:h-full'
          />
        </div>
        <div class='mt-4 flex justify-between'>
          <div>
            <h3 class='text-sm text-gray-700'>
              <a href='#'>
                <span aria-hidden='true' class='absolute inset-0'></span>
                Basic Tee
              </a>
            </h3>
            <p class='mt-1 text-sm text-gray-500'>Black</p>
          </div>
          <p class='text-sm font-medium text-gray-900'>$35</p>
        </div>
      </div>

      <!-- More products... -->
    </div>

    <h2 class='text-2xl tracking-tight text-indigo-700'>Laptop Gaming</h2>

    <div
      class='mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8'
      id='laptop-gaming-offers'
    >
      <div class='group relative'>
        <div
          class='w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none'
        >
          <img
            src='https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg'
            alt='Front of men&#039;s Basic Tee in black.'
            class='w-full h-full object-center object-cover lg:w-full lg:h-full'
          />
        </div>
        <div class='mt-4 flex justify-between'>
          <div>
            <h3 class='text-sm text-gray-700'>
              <a href='#'>
                <span aria-hidden='true' class='absolute inset-0'></span>
                Basic Tee
              </a>
            </h3>
            <p class='mt-1 text-sm text-gray-500'>Black</p>
          </div>
          <p class='text-sm font-medium text-gray-900'>$35</p>
        </div>
      </div>

      <!-- More products... -->
    </div>

    <h2 class='text-2xl tracking-tight text-indigo-700'>Notebook</h2>

    <div
      class='mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8'
      id='notebook-offers'
    >
      <div class='group relative'>
        <div
          class='w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none'
        >
          <img
            src='https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg'
            alt='Front of men&#039;s Basic Tee in black.'
            class='w-full h-full object-center object-cover lg:w-full lg:h-full'
          />
        </div>
        <div class='mt-4 flex justify-between'>
          <div>
            <h3 class='text-sm text-gray-700'>
              <a href='#'>
                <span aria-hidden='true' class='absolute inset-0'></span>
                Basic Tee
              </a>
            </h3>
            <p class='mt-1 text-sm text-gray-500'>Black</p>
          </div>
          <p class='text-sm font-medium text-gray-900'>$35</p>
        </div>
      </div>

      <!-- More products... -->
    </div>

    <h2 class='text-2xl tracking-tight text-indigo-700'>Ultrabook</h2>

    <div
      class='mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8'
      id='ultrabook-offers'
    >
      <div class='group relative'>
        <div
          class='w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none'
        >
          <img
            src='https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg'
            alt='Front of men&#039;s Basic Tee in black.'
            class='w-full h-full object-center object-cover lg:w-full lg:h-full'
          />
        </div>
        <div class='mt-4 flex justify-between'>
          <div>
            <h3 class='text-sm text-gray-700'>
              <a href='#'>
                <span aria-hidden='true' class='absolute inset-0'></span>
                Basic Tee
              </a>
            </h3>
            <p class='mt-1 text-sm text-gray-500'>Black</p>
          </div>
          <p class='text-sm font-medium text-gray-900'>$35</p>
        </div>
      </div>

      <!-- More products... -->
    </div>

    <h2 class='text-2xl tracking-tight text-indigo-700'>Unitati</h2>

    <div
      class='mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8'
      id='pc-offers'
    >
      <div class='group relative'>
        <div
          class='w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none'
        >
          <img
            src='https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg'
            alt='Front of men&#039;s Basic Tee in black.'
            class='w-full h-full object-center object-cover lg:w-full lg:h-full'
          />
        </div>
        <div class='mt-4 flex justify-between'>
          <div>
            <h3 class='text-sm text-gray-700'>
              <a href='#'>
                <span aria-hidden='true' class='absolute inset-0'></span>
                Basic Tee
              </a>
            </h3>
            <p class='mt-1 text-sm text-gray-500'>Black</p>
          </div>
          <p class='text-sm font-medium text-gray-900'>$35</p>
        </div>
      </div>

      <!-- More products... -->
    </div>
  </div>
</div>