<div class='flex flex-grow justify-center w-full bg-purple-50'>
  <div
    class='inline-flex justify-around bg-indigo-700 w-11/12 rounded-t-lg text-white font-semibold text-sm py-1 divide-x-2 divide-opacity-40 divide-indigo-200'
  >
    <div class='flex flex-grow justify-center'>
      <a href='/placi-video' class='hover:text-indigo-200'>Placi Video</a>
    </div>
    <div class='flex flex-grow justify-center'><a
        href='/cpu'
        class='hover:text-indigo-200'
      >Procesoare</a></div>
    <div class='flex flex-grow justify-center'>
      <a href='/placi-de-baza' class='hover:text-indigo-200'>Placi de baza</a>
    </div>
    <div class='flex flex-grow justify-center'><a
        href='/ssd'
        class='hover:text-indigo-200'
      >SSD</a></div>
    <div class='flex flex-grow justify-center'><a
        href='/hdd'
        class='hover:text-indigo-200'
      >HDD</a></div>
    <div class='flex flex-grow justify-center'><a
        href='/surse'
        class='hover:text-indigo-200'
      >Surse</a></div>
    <div class='flex flex-grow justify-center'><a
        href='/carcase'
        class='hover:text-indigo-200'
      >Carcase</a></div>
    <div class='flex flex-grow justify-center'><a
        href='/coolere'
        class='hover:text-indigo-200'
      >Coolere</a></div>
    <div class='flex flex-grow justify-center'><a
        href='/laptop-gaming'
        class='hover:text-indigo-200'
      >Laptop gaming</a></div>
    <div class='flex flex-grow justify-center'><a
        href='/notebook'
        class='hover:text-indigo-200'
      >Notebook</a></div>
    <div class='flex flex-grow justify-center'><a
        href='/ultrabook'
        class='hover:text-indigo-200'
      >Ultrabook</a></div>
    <div class='flex flex-grow justify-center'><a
        href='/unitati'
        class='hover:text-indigo-200'
      >Unitati</a></div>
  </div>
</div>