<!doctype html>
<html lang='ro'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/build.css' />
    <link rel='icon' href='/img/computer.png' />
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
    <title>Add - PC Components</title>
  </head>
  <body class="bg-black">
    {{>header this}}
    {{>navigationbar}}
    {{>banner}}
    <div class="bg-white rounded-lg m-6">
      <div class="pt-6">
        <!-- Image gallery -->
        <div class="ring-2 mt-6 max-w-4xl mx-auto w-full" id="image">
          
        </div>

        <!-- Product info -->
        <div class="ring-2 max-w-2xl mx-auto pt-10 pb-16 px-4 sm:px-6 lg:max-w-7xl lg:pt-16 lg:pb-24 lg:px-8 lg:grid lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8">
          <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
            <label for="productName" class="block"></label>
              <input required type="text" name="productName" id="productName" placeholder="Nume produs"
              class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
          </div>

          <!-- Pret -->
          <div class="mt-4 lg:mt-0 lg:row-span-3">
            <label for="productPrice" class="block">Pret</label>
              <input required type="number" name="productPrice" id="productPrice"
              class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />

            <div class="mt-10">
              <!-- Stock -->
              <div>
                <label for="productQuant" class="block">Stoc total</label>
                  <input required type="text" name="productQuant" id="productQuant"
                  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
              </div>

              {{>manufacturerFilter}}

                <input
                  type='text'
                  id='addModel'
                  class='mb-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md'
                />
                <button
                  class='bg-gray-400 px-2 py-1 border border-transparent rounded-md flex items-center justify-center text-base font-medium text-white hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500'
                  id='addModelButton'
                >Adauga model</button>

              <button class="mt-10 w-full bg-indigo-600 border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              id="saveProductButton">Salveaza produsul</button>
            </div>
          </div>

          <div class="border py-10 lg:pt-6 lg:pb-16 lg:col-start-1 lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
            <div id="description"></div>
            <!-- Description and details -->
        </div>
      </div>
  </body>
  <script src="/js/add.js"></script>
</html>